QLabel[role="std_form_lbl"] {
    color: #2B2B2B;
    font-size: 16px;
    min-width: 120px;
}

QLineEdit[role="std_form_txt"] {
    color: #2B2B2B;
    font-size: 16px;
    padding: 5px 5px;
    max-width: 250px;
    min-width: 200px;
}

QLineEdit[role="wide_form_txt"] {
    color: #2B2B2B;
    font-size: 16px;
    padding: 5px 5px;
    max-width: 350px;
    min-width: 300px;
}

QComboBox[role="wide_form_cmb"] {
    background-color: #FFFFFF;
    color: #2B2B2B;
    padding: 6px 12px;
    border: 2px solid #2B2B2B;
    border-radius: 8px;
    font-size: 16px;
    max-width: 350px;
    min-width: 300px;
}

QScrollArea {
    border: none;
}