QLabel[role="std_form_lbl"] {
    color: %(txt_color)s;
    font-size: 16px;
    min-width: 120px;
}

QLineEdit[role="std_form_txt"] {
    color: %(txt_color)s;
    font-size: 16px;
    padding: 5px 5px;
    max-width: 250px;
    min-width: 200px;
}

QLineEdit[role="wide_form_txt"] {
    color: %(txt_color)s;
    font-size: 16px;
    padding: 5px 5px;
    max-width: 350px;
    min-width: 300px;
}

QLineEdit[role="extra_wide_form_txt"] {
    color: %(txt_color)s;
    font-size: 16px;
    padding: 5px 5px;
    max-width: 500px;
    min-width: 400px;
}

QComboBox[role="wide_form_cmb"] {
    background-color: %(btn_background_color)s;
    color: %(txt_color)s;
    padding: 6px 12px;
    border: 2px solid %(txt_color)s;
    border-radius: 8px;
    font-size: 16px;
    max-width: 350px;
    min-width: 300px;
}

QScrollArea {
    border: none;
}

QPushButton[role="hyperlink_btn"] {
    background-color: none;
    color: %(universal_btn_link_color)s;
    border: none;
    font-size: 14px;
    min-width: 350px;
    text-align: left;
}