QLabel[role="universal_footer_lbl"] {
    color: #2B2B2B;
    font-size: 14px;
    text-align: center;
}

QLabel[role="universal_title_lbl"] {
    color: #2B2B2B;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

QLabel[role="universal_info_line_lbl"] {
    color: #2B2B2B;
    font-size: 18px;
    text-align: center;
}

QPushButton[role="universal_close_btn"] {
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 3px 6px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    max-width: 150px;
}

QPushButton[role="universal_close_btn"]::hover {
    background-color: #FFFFFF;
    color: #FF0000;
    border: 2px solid #FF0000;
    font-size: 14px;
}

QPushButton[role="universal_btn"] {
    background-color: #FFFFFF;
    color: #2B2B2B;
    padding: 6px 12px;
    border: 2px solid #2B2B2B;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
}

QPushButton[role="universal_btn"]::hover {
    background-color: #242F60;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

QPushButton[role="universal_link_btn"] {
    background-color: none;
    color: #0000FF;
    border: none;
    font-size: 14px;
}

QComboBox[role="universal_cmb"] {
    background-color: #FFFFFF;
    color: #2B2B2B;
    padding: 6px 12px;
    border: 2px solid #2B2B2B;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
}

QComboBox::drop-down {
    background-color: #FFFFFF;
    border-radius: 6px;
}

QComboBox::down-arrow {
    image: url("assets/down_arrow.svg");
    width: 15px;
    height: 15px;
    margin: 5px 5px;
}

QComboBox QAbstractItemView {
    background-color: #FFFFFF;
    color: #2B2B2B;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
}
