QLabel[role="universal_footer_lbl"] {
    color: %(txt_color)s;
    font-size: 14px;
    text-align: center;
}

QLabel[role="universal_title_lbl"] {
    color: %(txt_color)s;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

QLabel[role="universal_info_line_lbl"] {
    color: %(txt_color)s;
    font-size: 18px;
    text-align: center;
}

QPushButton[role="universal_close_btn"] {
    background-color: %(close_btn_background_color)s;
    color: %(close_btn_text_color)s;
    padding: 3px 6px;
    border: 2px solid %(close_btn_text_color)s;
    border-radius: 4px;
    font-size: 14px;
    max-width: 150px;
}

QPushButton[role="universal_close_btn"]::hover {
    background-color: %(close_btn_background_color_hover)s;
    color: %(close_btn_text_color_hover)s;
    border: 2px solid %(close_btn_text_color_hover)s;
    font-size: 14px;
}

QPushButton[role="universal_btn"] {
    background-color: %(btn_background_color)s;
    color: %(txt_color)s;
    padding: 6px 12px;
    border: 2px solid %(txt_color)s;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
}

QPushButton[role="universal_btn"]::hover {
    background-color: %(universal_btn_background_color_hover)s;
    color: %(universal_btn_text_color_hover)s;
    border: 1px solid %(universal_btn_text_color_hover)s;
}

QPushButton[role="universal_link_btn"] {
    background-color: none;
    color: %(universal_btn_link_color)s;
    border: none;
    font-size: 14px;
}

QComboBox[role="universal_cmb"] {
    background-color: %(btn_background_color)s;
    color: %(txt_color)s;
    padding: 6px 12px;
    border: 2px solid %(txt_color)s;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
}

QComboBox::drop-down {
    background-color: %(btn_background_color)s;
    border-radius: 6px;
}

QComboBox::down-arrow {
    image: url("assets/down_arrow.svg");
    width: 15px;
    height: 15px;
    margin: 5px 5px;
}

QComboBox QAbstractItemView {
    background-color: %(btn_background_color)s;
    color: %(txt_color)s;
    border: 1px solid %(btn_background_color)s;
    border-radius: 8px;
    font-size: 16px;
}
